
//@import 'base/normalize';
//@import 'base/global';

// Import Components
// @import 'components/header';

// Import Layouts
// @import 'layouts/home';

// Import Plugins
// @import 'plugins/plugin';

@import 'base/variables';
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "base/helpers";

#home-carousel {
  .carousel-indicators {
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 2% 0;
    @include translate3d(0,0,0);
    @include gradient-vertical(rgba(0,0,0,0), rgba(0,0,0,0.7));
  }
}

@import "../../bower_components/ionicons/scss/ionicons";
