.no-margin {

  &-top {
    margin-top: 0;
  }
  &-bottom {
    margin-bottom: 0;
  }
  &-left {
    margin-left: 0;
  }
  &-right {
    margin-right: 0;
  }
}

.no-padding {

  &-top {
    padding-top: 0;
  }
  &-bottom {
    padding-bottom: 0;
  }
  &-left {
    padding-left: 0;
  }
  &-right {
    padding-right: 0;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.transition-all-100 {
  @include transition(all 0.1s);
}
